# Machine Learning: Classification Predict Team 4

## Problem Statement:

### Global Warming Sentiment Analysis using Twitter Data

## Import libraries and datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Train dataset

In [2]:
train_df = pd.read_csv('train.csv')
train_df.head()

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesn't think carbon di...   625221
1          1  It's not like we lack evidence of anthropogeni...   126103
2          2  RT @RawStory: Researchers say we have three ye...   698562
3          1  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4          1  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

### Test dataset

In [3]:
test_df = pd.read_csv('test.csv')
test_df.head()

                                             message  tweetid
0  Europe will now be looking to China to make su...   169760
1  Combine this with the polling of staffers re c...    35326
2  The scary, unimpeachable evidence that climate...   224985
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928

### Sample solution

In [4]:
ss = pd.read_csv('sample_submission.csv')
ss.head()

   tweetid  sentiment
0   169760          1
1    35326          1
2   224985          1
3   476263          1
4   872928          1

# 1. Data Cleaning

In [28]:
def remove_hashtags(df):
    pass

In [29]:
def remove_numbers(df):
    pass

In [30]:
def remove_symbols(df):
    pass

In [31]:
def convert_to_lowercase(df):
    pass

### 1.1 Corpus

### 1.2 Document Matrix

In [18]:
message = test_df[test_df.tweetid == 872928].message
message

4    RT @FakeWillMoore: 'Female orgasms cause globa...
Name: message, dtype: object

# 3. Model Training: Classification

### Feature Selection

### Fitting Model